.checkout-screen {
    background-image: url(/img/background.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
}

.checkout-screen .checkout-content {
    text-align: center;
}

.checkout-screen .checkout-content .checkout-amount {
    font-size: 4em;
    display: block;
    margin: auto;
    background: none;
    color: #FFFFFF;
    border: 0;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
}

.checkout-screen .checkout-content .checkout-label {
    text-align: center;
}

.checkout-screen .checkout-content .checkout-button {
    display: inline-block;
    margin: auto;
    margin-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    line-height: 2em;
    font-size: 2em;
    background-color: #09C58A;
    border-radius: 1em;
    color: #202020;
    cursor: pointer;
}

.checkout-screen .hidden-input {
    position: relative;
    bottom: 0;
    right: 0;
    overflow: hidden;
    height: 1px;
    width: 1px;
    opacity: 0;
}

.checkout-screen .menu-container {
    min-height: 2em;
}

.checkout-screen .keyboard-container {
    text-align: center;
    margin-top: 3em;
}


@media (max-height: 700px) {
    .checkout-screen .keyboard-container {
        margin-top: 1em;
    }
    .checkout-screen .checkout-content .checkout-button {
        margin-top: 1em;
    }
}
