.setting {
    cursor: pointer;
}

.setting img.setting-icon {
    width: 3em;
    min-height: 2em;
    border-radius: 0.25em;
    background-color: #00000020;
    display: inline-block;
    float: left;
    margin-right: 1em;
}

.setting .setting-label {
    vertical-align: top;
    margin-left: 1em;
    font-weight: 800;
    color: #CCCCCC;
}


@media (max-width: 600px) {
    .setting .setting-value {
        overflow-x: scroll;
        font-size: 0.75em;
    }
}
