html, body {
    background-color: #202020;
    color: #AAAAAA;
}
body {
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 75%;

    font-family: 'Open Sans', sans-serif;
}

html, body, #main { }

a, a:active, a:visited {
    text-decoration: none;
    color: #09C58A;
}

#templates {
    display: none;
}

#attribution {
    margin-top: 5em;
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 0.75em;
    color: #757575;
}

#attribution.hidden {
    display: none;
}

@media (max-width: 600px) {
    body {
        width: 100%;
        padding-top: 1em;
    }
}
